footer {
  padding-bottom: 1.5rem;
  & ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;

    & li {
      list-style: "";
    }
  }

  & img {
    height: 20px;
  }
}