header {
  flex-wrap: wrap;
  font-family: var(--heading);
  width: 100%;
  padding: 1.5rem;

  & nav {
    & h1{
      padding: 0.5rem;
      margin-bottom: 0;
    }

    & ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & li {
        list-style: " ";
        align-self: center;
      }

      & a {
        font-weight: bold;
        text-decoration: none;
        color: var(--text-color);
      }
    }
  }
}