header {
  flex-wrap: wrap;
  font-family: var(--heading);
  width: 100%;
  margin-bottom: 2rem;

  & nav {

    & svg path{
      fill: var(--text-color);
    }

    & ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & li {
        list-style: " ";
        align-self: center;
      }

      & a {
        font-weight: bold;
        text-decoration: none;
        color: var(--text-color);

        &:hover{
          color: var(--highlight);
        }

        &:hover svg path{
          fill: var(--highlight);
        }
      }
    }
  }
}