header {
  flex-wrap: wrap;
  font-family: var(--heading);
  width: 100%;

  & nav {
    padding: 1.5rem 1rem;

    & ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & li {
        list-style: " ";
        align-self: center;
      }

      & a {
        font-weight: 500;
        text-decoration: none;
        color: var(--text-color);
      }
    }
  }
}