.projects_intro {
    align-self: center;
    margin-bottom: 2rem;
}

.projects_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;

    @media screen and (max-width: 770px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }

    & h3 {
        font-family: var(--headings);
    }
}

.project {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 20rem;
    border: solid black;


    & article {
        position: relative;
        align-items: flex-end;
        height: fit-content;
        width: 100%;
        height: fit-content;
        padding: 0.5rem;
        border-top: solid black;
    }

    &:hover {
        & .project_image img {
            scale: 1.2;
        }
    }
}

.project_content {
    display: flex;
    justify-content: space-between;
}

.content_heading {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

.project_image {
    overflow: hidden;
    width: 100%;
    height: 100%;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.2s all ease-out;
    }
}

.links {
    & img {
        rotate: 45deg;
    }
}