@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

:root {
  --heading: "Bebas Neue", sans-serif;
  --text-color: #1d1c1d;
  --hotpink: hotpink;
  --accent: "UnifrakturMaguntia", cursive;
  --bg-color: #e3dddd;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100vw;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading);
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 10vh;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;

  & ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & li {
      list-style: "";
      align-self: center;
    }

    & .accent {
      font-size: 2rem;
    }

    & li:last-of-type {
      & a {
        background-color: var(--hotpink);
        color: var(--text-color);
        border: solid 2px var(--text-color);
        border-radius: 5rem;
      }

      & a:hover {
        background-color: var(--text-color);
        color: var(--bg-color);
      }
    }

    & a {
      font-weight: 500;
      text-decoration: none;
      color: var(--text-color);
      padding: 0.5rem;
    }
  }
}

.intro {
  & p {
    font-size: 3.5rem;
    padding: 1rem;
    max-width: 80%;

    & span {
      font-size: 4.5rem;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 1.5rem;
}


.link {
  color: var(--text-color);
  text-decoration: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  z-index: 2;
  padding: 0.5rem 1rem;
  background-color: rgba(248, 133, 191, 0.797);
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.tag {
  position: relative;
  display: flex;
  flex-flow: row;
  gap: 1rem;
  z-index: 2;
  color: white;
  margin-left: 1rem;
  margin-top: 1.5rem;

  & span{
    background-color: #b5b5b5b4 ;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
  }
}

footer {
  width: 100vw;
  margin-top: 1rem;
  overflow: hidden;
  padding-right: 1rem;

  & ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1.5rem;
    margin-right: 1rem;
    gap: 0.5rem;

    & li {
      list-style: "";
    }
  }

  & img {
    height: 1.2rem;
  }
}

.accent {
  font-family: var(--accent);
  color: hotpink;
}