:root {
  --text-color: #1d1c1d;
  --bg-color: #e3e1e1;
  --sec-grey: #999999;
  --text-grey: #3d3d3d;
  --highlight: #f22fa4;
  --negative: #343838;
  --headings: 'dirtyline', sans-serif;
}

@font-face {
  font-family: 'Dirtyline';
  src: url('fonts/Dirtyline 36daysoftype 2022.woff2') format('woff2'),
    url('fonts/Dirtyline 36daysoftype 2022.woff') format('woff'),
    url('fonts/Dirtyline 36daysoftype 2022.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  padding: 0.5rem;


  @media (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

p {
  color: var(--text-grey);
  font-size: 20px;
}

h1,
h2 {
  font-family: var(--headings);
}

h1 {
  margin-bottom: 2rem;
  font-size: 50px;
}

h2 {
  margin-bottom: 1rem;
}

h3,
h4 {
  margin-bottom: 0.5rem;
}

main {
  position: relative;
  z-index: 2;
  flex: 1;
  display: flex;
  flex-direction: column;
}

section {
  margin-bottom: 2rem;
}

.landing {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;

  & h2 {
    color: var(--highlight);
  }
}

.gallery {
  position: absolute;
  z-index: -1000;
  width: 100%;

  & img {
    position: absolute;
    filter: grayscale(0.7);
    object-fit: cover;
    height: 200px;
    aspect-ratio: 1;
    top: 0;
    left: 10%;

    &:nth-of-type(2n) {
      top: -20vh;
      left: 40%;
    }

    &:nth-of-type(3n) {
      top: -5vh;
      left: 60%;
    }

  }
}

.works {
  & ul {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
  }

  & li {
    position: relative;
    list-style: " ";
    padding: 1.5rem 0.5rem;
    border-bottom: solid 2px var(--sec-grey);
    border-top: solid 2px var(--sec-grey);
    height: fit-content;
    color: var(--text-color);
    transition: background 0.2s ease-out;

    &:hover {
      background: var(--text-color);
      color: var(--bg-color);
      border-color: var(--text-color);
    }
  }
}


.list_items {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-family: var(--headings);
  padding: 0.5rem;

  & a {
    text-decoration: none;
    color: inherit;
  }

  & .arrow {
    padding-left: 0.2rem;
    rotate: 50deg;
    height: 16px;
  }

  &:hover .arrow {
    filter: invert(1);
  }
}

.highlight {
  background-color: var(--highlight);
  padding: 0rem 1rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--negative);
    color: var(--bg-color);
  }
}