.resume_intro {
    height: 65vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 1.5rem;

    & h1 {
        font-size: 3.5rem;
    }

    & p {
        font-size: 2rem;
    }
}


.resume_nav {
    width: 100%;
    text-wrap: inherit;
    padding: 1rem;

    & ul {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        align-items: center;


        & li {
            list-style: " ✦ ";
            font-size: 20px;

            &:hover a {
                text-decoration: underline;
            }
        }
    }

    & a {
        text-decoration: none;
        color: #434344;

    }
}

.resume_wrapper{
    margin: 2.5rem 0 2.5rem;
}