
/* work detailpage styling */

.content{
    display: flex;
    flex-flow: column;
    gap: 2.5rem;
}

.work_description{
    max-width: 40rem;
}

.work_info {
    & ul {
        display: flex;
        flex-flow: row wrap;
        gap: 0.5rem;
        list-style: "";

        & li {
            padding: 0.5rem 1rem;
            border: solid 2px var(--text-color);
            border-radius: 1.5rem;
        }
    }
}

.links {
    display: flex;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
    font-weight: bold;

    & img {
        rotate: 270deg;
        height: 20px;
        width: 25px;
    }
}